---
import '../styles/global.css';
import Image from 'astro/components/Image.astro';
import ImgButton from '../components/img-button.astro';
import Button from '../components/button.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lex Wu / music bio</title>

		<meta name="title" content="Lex Wu / music bio">
		<meta name="description" content="Lex Wu's link in bio for music releases, lyrics, chords, and more.">
		<meta name="keywords" content="Lex Wu, music">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">

	</head>
	<body>
		<div class="w-full min-h-screen h-full size-24 bg-linear-to-b to-sky-950 from-violet-800 py-16">
			<section class="grid gap-4 text-white text-center justify-center">
				<Image src="/outside-pfp.jpg" alt="Lex Wu sits outside, looking to the top left" width="128" height="128" loading="eager" class="rounded-3xl shadow-lg mx-auto loading-eager"/>
				<h1 class="font-medium font-display text-3xl">Lex Wu</h1>
				<p class="font-sans font-light text-lg">A musician that does wayyyyyyyyy too much other stuff</p>
			</section>

			<section class="mx-auto flex justify-center pt-8 gap-4">
				<a href="https://www.instagram.com/lwumusic/"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-instagram.svg" alt="Instagram logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>

				<a href="https://bsky.app/profile/lwumusic.com/"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-bluesky.svg" alt="Bluesky logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>

				<a href="https://www.tiktok.com/@lwu877/"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-tiktok.svg" alt="TikTok logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>
			</section>

			<section class="max-w-2xl mx-auto pt-8 px-4 h-96">
				<iframe data-testid="embed-iframe" title="Spotify Embed" style="border-radius:12px" src="https://open.spotify.com/embed/artist/6h2oR4XbwGdfhevDSo1o5w?utm_source=generator" width="100%" height="100%" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="eager"></iframe>
			</section>


		
			<section class="mx-auto max-w-2xl grid gap-4 pt-8 text-slate-800 px-4">
				<ImgButton title="The Pirate and the Fiddle, out now" description="A song about the divide between my day life and my night life. 🎻" href="https://push.fm/fl/fo9hmvne" bg="amber" img="/albums/pirate&fiddle.jpg" imgalt="Cover art"/>
				<ImgButton title="Time, also out now" description="A song about giving up on your dreams. 🕔" href="https://push.fm/fl/iugfkg9t" bg="violet" img="/albums/time.png" imgalt="Cover art"/>
				<Button title="Lyrics" description="You could probably sing along to these." href="https://lwumusic.com/lyrics" bg="violet" />
				<Button title="Chord Sheets" description="I don't play guitar - but it's a start?" href="https://lwumusic.com/chords" bg="violet" />
				<Button title="Buy me a coffee" description="Anything is appreciated - thanks for the support!" href="https://ko-fi.com/lwu877" bg="violet" />
				<Button title="Visit my website" description="Learn more about what makes me tick." href="https://lwumusic.com/" bg="violet" />
				<Button title="Other projects by me" description="I'm also a journalist, photographer, and... well, plenty else." href="https://lexwu.com/" bg="sky" />
			</section>

			<p class="text-center text-white">- - - - - - - - - - - - -</p>

			<h2 class="text-2xl text-center text-white pb-4 font-display">Connect with me:</h2>

			<section class="mx-auto max-w-2xl grid gap-4 text-slate-800 px-4">
				<Button title="Sign up for my newsletter" description="Hear when I release new stuff, plus a first look at liner notes" href="https://lwu877.substack.com" bg="violet" />
				<Button title="Contact me" description="Booking? Collaborations? Just want to say hi?" href="https://lwumusic.com/contact" bg="violet" />
			</section>	

			<p class="text-center text-white">- - - - - - - - - - - - -</p>

			<h2 class="text-2xl text-center text-white pb-4 font-display">Find me on:</h2>

			<section class="mx-auto max-w-2xl grid sm:grid-cols-2 gap-4 text-slate-800 px-4 text-xl font-medium font-display">
				<div class="w-full bg-green-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-l hover:to-[#1BD760] hover:from-green-100 transition border-2">
					<a
						href="https://open.spotify.com/artist/6h2oR4XbwGdfhevDSo1o5w?si=iXs9G6AvQb2814YlJyGEMg"
						class="flex gap-8">
						<p>Spotify</p>	
					</a>
				</div>

				<div class="w-full bg-red-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-l hover:to-red-200 hover:from-pink-100 transition border-2">
					<a
						href="https://music.apple.com/us/artist/lex-wu/1667329077"
						class="flex gap-8">
						<p>Apple Music</p>	
					</a>
				</div>

				<div class="w-full bg-red-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-l hover:to-red-200 hover:from-pink-100 transition border-2">
					<a
						href="https://youtube.com/@lwu877"
						class="flex gap-8">
						<p>YouTube Music</p>	
					</a>
				</div>
				<div class="w-full bg-blue-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-l hover:to-blue-200 hover:from-indigo-100 transition border-2">
					<a
						href="/about"
						class="flex gap-8">
						<p>Amazon Music</p>	
					</a>
				</div>

				<div class="w-full bg-slate-900 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-r hover:to-slate-700 hover:from-slate-800 transition border-2 border-white">
					<a
						href="https://tidal.com/artist/36835587"
						class="flex gap-8 text-slate-50">
						<p>Tidal</p>	
					</a>
				</div>

				<div class="w-full bg-sky-100 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-r hover:to-sky-50 hover:from-sky-200 transition border-2">
					<a
						href="https://tidal.com/artist/36835587"
						class="flex gap-8">
						<p>Bandcamp</p>	
					</a>
				</div>

				<div class="w-full bg-purple-100 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-r hover:to-purple-50 hover:from-purple-200 transition border-2">
					<a
						href="https://www.deezer.com/en/artist/197756257"
						class="flex gap-8">
						<p>Deezer</p>	
					</a>
				</div>

				<div class="w-full bg-orange-100 text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-r hover:to-orange-50 hover:from-orange-200 transition border-2">
					<a
						href="https://lwu877.newgrounds.com"
						class="gap-4">
						<p>Newgrounds</p>	
						<p class="font-light text-sm">(older work)</p>
					</a>
				</div>

			</section>

			<p class="text-center text-white">- - - - - - - - - - - - -</p>

			<section class="mx-auto max-w-2xl text-slate-800 px-4">
				<div class="w-full bg-linear-to-r from-sky-100 to-violet-300 text-sm font-sans font-light rounded-2xl px-6 py-3 shadow-lg gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-xl">© 2025 Lex Wu</p>	
						<p>All rights reserved. Built with <a href="https://astro.build/" class="underline">Astro</a>, <a class="underline" href="https://tailwindcss.com">TailwindCSS</a>, and <a class="underline" href="https://tabler.io/icons">Tabler Icons.</a></p>
						<p>Source code available on <a class="underline" href="https://github.com/lwumusic/bio">Github.</a> <a class="underline" href="https://lwumusic.com/privacy">Privacy Policy</a></p>
					</div>
				</div>
			</section>


		</div>

	</body>
</html>
